*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background:url("images/bus.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
   
}
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.btn__area span{
    background:#52AF3A;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30px;
}
nav ul li a:hover, a.active{
    background-color: #52AF3A;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
    
}
.booking-content{
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 50px;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    float: right;
    width: 80%;
    margin: 50px 0px 0px 80px;
    
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 100px;
}
.plus-minus-btn{
    color: #3352F2;
    font-size: 30px;
    padding: 2px;
    margin: 10px 10px 0px 0px;
    word-spacing: 20px;
    display: flex;
}
.plus-minus-btn button{
    border: none;
    outline: none;
    color: #fff;
    background:#52AF3A;
    height: 30px;
    width: 30px;
    margin-top: 7px;
    margin-left: 15px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #52AF3A;
    cursor:pointer;
}
.plus-minus-btn button:hover, .btn-style:hover{
    background-color:  #508b41fb;
}
.amount{
    display: flex;
    justify-content: space-between;
}

#book-completed{
    width: 100%;
    height: 100%;
    background:#52AF3A;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    
}
#book-completed i{
    font-size: 100px;
}

#book-completed h4{
    font-size: 50px;
}
#back-home{
    display: block;
    padding: 10px;
    width: 100px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #fff;
    cursor:pointer;
    margin-top: 20px;
    text-transform: capitalize;
    
}
#back-home:hover{
    border: 2px solid black;
    color: black;
}